.Rproj.user
.Rhistory
.RData
.Rprofile
MODIStsp.Rproj
old_and_various/
vignettes/MODIStsp\.R
README_files/
tests/testthat/test_http\.json
tests/testthat/test_modistsp_LB\.R
tests/testthat/test_modistspGUI\.R
vignettes/Thumbs\.db
tests/testthat/test-modistsp_LB\.R
inst/testdata/VI_16Days_500m_v6/Time_Series/
inst/testdata/MODIStsp_2018-01-04\.json
libs/
_main\.Rmd
inst/ExtData/Previous/MODIStsp_Previous\.json
inst/testdata/MODIStsp_2018-02-18\.json
inst/testdata/MODIStsp_Previous\.json
inst/ExtData/modis_sinusoidal_grid_world\.dbf
inst/ExtData/modis_sinusoidal_grid_world\.prj
inst/ExtData/modis_sinusoidal_grid_world\.shp
inst/ExtData/modis_sinusoidal_grid_world\.shx
/doc/
/Meta/
